---
const pages = import.meta.glob('./*.mdx');
const pagePaths = Object.keys(pages);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<ul>
			{pagePaths.map((path) => (
				<li><a href={path.replace('../pages/', '/').replace(/\/index|\.astro|\.mdx/g, '')}>{path}</a></li>
			))}
		</ul>
	</body>
</html>
