---
---
<style>
    .callout {
        background-color: #e7e7e7;
        margin: 2rem 0;
        padding: 2rem;
    }
    .callout >>> p:first-child {
        margin-top: 0;
    }
    .callout >>> p:last-child {
        margin-bottom: 0;
    }
</style>
<div class="callout">
    <slot />
</div>
