---

---
<div class="grid">
  <slot></slot>
</div>
<style>
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem 1rem;
  align-items: center;
  -ro-pdf-tag-type: none;
}
</style>
